.notecard-outline{
    border: none;
    width: 400px;
    height: 400px;
    background-color: #feff9c;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
   
    .notecard-heading{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .notecard-content{
        margin-left: 20px;
    }
    
    .notecard-buttons{
        display: flex;
        padding-top: 220px;
        justify-content:space-around;
        align-items: center;
        position: relative          ;
    }
}

