@import url('https://fonts.googleapis.com');


.signup-wrapper{
    border: none;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 500px;
    margin-top: 150px;
    border-radius: 10px;
    background: url("../Images/signup-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .signup-heading{
        font-family: 'Geologica', sans-serif;
        text-transform: uppercase;
        color: rgb(74, 74, 74);
    }

    .signup-inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        #standard-basic{
            width: 250px;
        }
    }

    .signup-buttons{
        margin-bottom: 30px;
    }
}